/* ----------------------------
html {
  font: 80px Courier;
  color: white;
}

.box{
  padding: 20px;
  width: 80px;
  text-align: center;
}

.even {
  background-color: #ec4963;
}

.odd{
  background-color: #43abcf;
}
----------------------------- */
/* html {
  font: 80px Courier;
  color: white;
}

.box{ 
  float: left;
  padding: 20px;
  width: 80px; 
  text-align: center;
}

.even {
  background-color: #ea4862;
}

.odd{
  background-color: #43abcf;
} 
------------------------------ */
/* html {
  font: 80px Courier;
  color: white;
}

.box{ 
  padding: 20px;
  width: 80px; 
  text-align: center;
}

.even {
  background-color: #ea4862;
}

.odd{
  background-color: #43abcf;
} 

.layer{
	display: flex;
	justify-content: center;
}
------------------------------- */
html {
  font: 80px Courier;
  color: white;
}

.box{
  padding: 20px;
  width: 80px;
  text-align: center;
}
#box_1{
	position: relative;
	left: 120px
}

#box_2{
	position: relative;
	left: 240px
}

#box_3{
	position: relative;
	left: 360px
}

#box_4{
	position: relative;
	left: 480px
}

#box_5{
	position: relative;
	left: 480px
}

#box_6{
	position: relative;
	left: 360px
}

#box_7{
	position: relative;
	left: 240px
}

#box_8{
	position: relative;
	left: 120px
}

.even {
  background-color: #ec4963;
}

.odd{
  background-color: #43abcf;
}