/* html {
  font: 80px Courier;
  color: white;
}

.box{
  padding: 20px;
  width: 80px;
  text-align: center;
}

.even {
  background-color: #ec4963;
}

.odd{
  background-color: #43abcf;
}  */

/* html {
  font: 80px Courier;
  color: white;
}

.box{ 
  float: left;
  display: inline; 
  padding: 20px;
  width: 80px; 
  text-align: center;
}

.even {
  background-color: #ea4862;
}

.odd{
  background-color: #43abcf;
}  */

/* html {
  font: 80px Courier;
  color: white;
}

.box{ 
  float: left;
  display: block; 
  padding: 20px;
  width: 80px; 
  text-align: center;
}

.even {
  background-color: #ea4862;
}

.odd{
  background-color: #43abcf;
} 

.layer{
	display: flex;
	justify-content: center;
} */

html {
  font: 80px Courier;
  color: white;
}

.box{ 
  float: left;
  display: block; 
  padding: 20px;
  width: 80px; 
  text-align: center;
}

.even {
  background-color: #ea4862;
}

<<<<<<< HEAD
.odd{
  background-color: #43abcf;
} 

.layer{
	display: flex;
	justify-content: center;
}
=======
 .box {
	background-color: green;
	display: block;
}

.even {
	background-color: red;
	display: block;
}

.layer { 
	display: inline;
}
>>>>>>> 51eec58421fe18d0b19b81464119ed09f9df89e2
